<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.thialfihar.android.apg"
    android:installLocation="auto"
    android:versionCode="11200"
    android:versionName="1.1.2 beta 00">

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true"
    />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>

    <!-- Needed to mark a contact as contacted -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <permission android:name="org.thialfihar.android.apg.permission.READ_ATTACHMENT"
                android:permissionGroup="android.permission-group.MESSAGES"
                android:protectionLevel="dangerous"
                android:label="@string/read_attachment_label"
                android:description="@string/read_attachment_desc"/>
    <uses-permission android:name="org.thialfihar.android.apg.permission.READ_ATTACHMENT"/>
    <permission android:name="org.thialfihar.android.apg.permission.REMOTE_CONTROL"
                 android:permissionGroup="android.permission-group.MESSAGES"
                 android:protectionLevel="dangerous"
                 android:label="@string/remote_control_label"
                 android:description="@string/remote_control_desc"/>
    <uses-permission android:name="org.thialfihar.android.apg.permission.REMOTE_CONTROL"/>
    <permission android:name="org.thialfihar.android.apg.permission.READ_MESSAGES"
                android:permissionGroup="android.permission-group.MESSAGES"
                android:protectionLevel="dangerous"
                android:label="@string/read_messages_label"
                android:description="@string/read_messages_desc"/>
    <uses-permission android:name="org.thialfihar.android.apg.permission.READ_MESSAGES"/>
    <permission android:name="org.thialfihar.android.apg.permission.DELETE_MESSAGES"
                android:permissionGroup="android.permission-group.MESSAGES"
                android:protectionLevel="dangerous"
                android:label="@string/delete_messages_label"
                android:description="@string/delete_messages_desc"/>
    <uses-permission android:name="org.thialfihar.android.apg.permission.DELETE_MESSAGES"/>

    <!-- android:allowBackup="false": Don't allow backup over adb backup or other apps! -->
    <application
        android:name=".ApgApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/ApgTheme"
        android:label="@string/app_name">
        <meta-data android:name="android.app.default_searchable"
                   android:value="com.fsck.k9.activity.Search" />
        <activity
            android:name=".ui.KeyListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.EditKeyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_edit_key"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.ViewKeyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_key_details"
            android:parentActivityName=".ui.KeyListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.KeyListActivity" />
        </activity>
        <activity
            android:name=".ui.ViewKeyActivityJB"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_key_details"
            android:parentActivityName=".ui.KeyListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.KeyListActivity" />
        </activity>
        <activity
            android:name=".ui.SelectPublicKeyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_select_recipients"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="org.thialfihar.android.apg.intent.SELECT_PUBLIC_KEYS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SelectSecretKeyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_select_secret_key"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="org.thialfihar.android.apg.intent.SELECT_SECRET_KEY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.EncryptActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_encrypt"
            android:windowSoftInputMode="stateHidden">

            <!-- Keychain's own Actions -->
            <!-- ENCRYPT with text as extra -->
            <intent-filter>
                <action android:name="org.thialfihar.android.apg.intent.ENCRYPT" />

                <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
             <intent-filter>
                <action android:name="org.thialfihar.android.apg.intent.ENCRYPT_AND_RETURN" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <!-- ENCRYPT with data Uri -->
            <intent-filter>
                <action android:name="org.thialfihar.android.apg.intent.ENCRYPT" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- TODO: accept other schemes! -->
                <data android:scheme="file" />
            </intent-filter>
            <!-- Android's Send Action -->
            <intent-filter android:label="@string/intent_send_encrypt">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DecryptActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_decrypt"
            android:windowSoftInputMode="stateHidden">

            <!--&lt;!&ndash; VIEW with mimeType: TODO (from email app)  &ndash;&gt;-->
            <!--<intent-filter android:label="@string/intent_import_key">-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->

                <!--&lt;!&ndash; mime type as defined in http://tools.ietf.org/html/rfc3156 &ndash;&gt;-->
                <!--<data android:mimeType="application/pgp-signature" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash; VIEW with mimeType: TODO (from email app)  &ndash;&gt;-->
            <!--<intent-filter android:label="@string/intent_import_key">-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->

                <!--&lt;!&ndash; mime type as defined in http://tools.ietf.org/html/rfc3156 &ndash;&gt;-->
                <!--<data android:mimeType="application/pgp-encrypted" />-->
            <!--</intent-filter>-->
            <!-- Keychain's own Actions -->
            <!-- DECRYPT with text as extra -->
            <intent-filter>
                <action android:name="org.thialfihar.android.apg.intent.DECRYPT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.thialfihar.android.apg.intent.DECRYPT_AND_RETURN" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <!-- DECRYPT with data Uri -->
            <intent-filter>
                <action android:name="org.thialfihar.android.apg.intent.DECRYPT" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- TODO: accept other schemes! -->
                <data android:scheme="file" />
            </intent-filter>
            <!-- Android's Send Action -->
            <intent-filter android:label="@string/intent_send_decrypt">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <!-- Linking "Decrypt" to file types -->
            <intent-filter android:label="@string/intent_decrypt_file">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <!-- Workaround to match files in pathes with dots in them, like /cdcard/my.folder/test.gpg -->
                <data android:pathPattern=".*\\.gpg" />
                <data android:pathPattern=".*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.gpg" />
            </intent-filter>
            <intent-filter android:label="@string/intent_decrypt_file">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.asc" />
                <data android:pathPattern=".*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.asc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.UploadKeyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_send_key" />
        <activity
            android:name=".ui.PreferencesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_preferences" >
            <intent-filter>
                <action android:name="org.thialfihar.android.apg.ui.PREFS_GEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.thialfihar.android.apg.ui.PREFS_ADV" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PreferencesKeyServerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_key_server_preference"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.CertifyKeyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_certify_key" />
        <activity
            android:name=".ui.ImportKeysActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_import_keys"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden">

            <!-- VIEW with fingerprint scheme:
                      Handle URIs with fingerprints when scanning directly from Barcode Scanner -->
            <intent-filter android:label="@string/intent_import_key">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <!-- Android's scheme matcher is case-sensitive, so include most likely variations -->
                <data android:scheme="openpgp4fpr" />
                <data android:scheme="OPENPGP4FPR" />
                <data android:scheme="OpenPGP4FPR" />
                <data android:scheme="OpenPGP4Fpr" />
                <data android:scheme="OpenPGP4fpr" />
            </intent-filter>
            <!-- VIEW with mimeType: Allows to import keys (attached to emails) from email apps  -->
            <intent-filter android:label="@string/intent_import_key">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <!-- mime type as defined in http://tools.ietf.org/html/rfc3156 -->
                <data android:mimeType="application/pgp-keys" />
            </intent-filter>
            <!-- NFC: Handle NFC tags detected from outside our application -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- mime type as defined in http://tools.ietf.org/html/rfc3156 -->
                <data android:mimeType="application/pgp-keys" />
            </intent-filter>
            <!-- VIEW with file endings: *.gpg (e.g. to import from OI File Manager) -->
            <intent-filter android:label="@string/intent_import_key">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:pathPattern=".*\\.gpg" />
                <data android:pathPattern=".*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.gpg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.gpg" />
            </intent-filter>
            <!-- VIEW with file endings: *.asc -->
            <intent-filter android:label="@string/intent_import_key">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.asc" />
                <data android:pathPattern=".*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.asc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.asc" />
            </intent-filter>
            <!-- Keychain's own Actions -->
            <!-- IMPORT_KEY with files TODO: does this work? -->
            <intent-filter android:label="@string/intent_import_key">
                <action android:name="org.thialfihar.android.apg.intent.IMPORT_KEY" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <!-- IMPORT_KEY with mimeType 'application/pgp-keys' -->
            <intent-filter>
                <action android:name="org.thialfihar.android.apg.intent.IMPORT_KEY" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- mime type as defined in http://tools.ietf.org/html/rfc3156, section 7 -->
                <data android:mimeType="application/pgp-keys" />
            </intent-filter>
            <!-- IMPORT_KEY without mimeType to allow import with extras Bundle -->
            <intent-filter android:label="@string/intent_import_key">
                <action android:name="org.thialfihar.android.apg.intent.IMPORT_KEY" />
                <action android:name="org.thialfihar.android.apg.intent.IMPORT_KEY_FROM_QR_CODE" />
                <action android:name="org.thialfihar.android.apg.intent.IMPORT_KEY_FROM_KEYSERVER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HelpActivity"
            android:label="@string/title_help" />

        <!-- Internal services/content providers (not exported) -->
        <service
            android:name=".service.PassphraseCacheService"
            android:exported="false"
            android:process=":passphrase_cache" />
        <service
            android:name="org.thialfihar.android.apg.service.ApgIntentService"
            android:exported="false" />

        <provider
            android:name="org.thialfihar.android.apg.provider.KeychainProvider"
            android:authorities="org.thialfihar.android.apg.provider"
            android:readPermission="org.thialfihar.android.apg.permission.READ_KEY_DETAILS"
            android:exported="true"/>

        <!-- Internal classes of the remote APIs (not exported) -->
        <activity
            android:name="org.thialfihar.android.apg.service.remote.RemoteServiceActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <!--android:launchMode="singleTop"-->
        <!--android:process=":remote_api"-->
        <activity
            android:name="org.thialfihar.android.apg.service.remote.RegisteredAppsListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:label="@string/title_api_registered_apps" />
        <activity
            android:name="org.thialfihar.android.apg.service.remote.AppSettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false" />

        <!-- OpenPGP Remote API -->
        <service
            android:name="org.thialfihar.android.apg.service.remote.OpenPgpService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote_api">
            <intent-filter>
                <action android:name="org.openintents.openpgp.IOpenPgpService" />
            </intent-filter>

            <meta-data
                android:name="api_version"
                android:value="1" />
        </service>

        <!-- Extended Remote API -->
        <!--<service-->
        <!--android:name="org.thialfihar.android.apg.service.remote.ExtendedApiService"-->
        <!--android:enabled="true"-->
        <!--android:exported="true"-->
        <!--android:process=":remote_api">-->
        <!--<intent-filter>-->
        <!--<action android:name="org.thialfihar.android.apg.service.remote.IExtendedApiService" />-->
        <!--</intent-filter>-->
        <!--</service>-->

        <!-- TODO: authority! Make this API with content provider uris -->
        <!-- <provider -->
        <!-- android:name="org.thialfihar.android.apg.provider.KeychainServiceBlobProvider" -->
        <!-- android:authorities="org.thialfihar.android.apg.provider.KeychainServiceBlobProvider" -->
        <!-- android:permission="org.thialfihar.android.apg.permission.ACCESS_API" /> -->

        <!-- mail stuff -->
       <activity
            android:name="com.fsck.k9.activity.Accounts"
            android:configChanges="locale"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.fsck.k9.activity.setup.Prefs"
            android:label="@string/prefs_title"
            android:configChanges="locale"
            android:taskAffinity="com.fsck.k9.activity.setup.Prefs"
            android:excludeFromRecents="true"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.setup.WelcomeMessage"
            android:label="@string/welcome_message_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.setup.FontSizeSettings"
            android:label="@string/font_size_settings_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.setup.AccountSetupBasics"
            android:label="@string/account_setup_basics_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.setup.AccountSetupAccountType"
            android:label="@string/account_setup_account_type_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.setup.AccountSetupIncoming"
            android:label="@string/account_setup_incoming_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.setup.AccountSetupComposition"
            android:label="@string/account_settings_composition_title"
            android:configChanges="locale"
        >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.setup.AccountSetupOutgoing"
            android:label="@string/account_setup_outgoing_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.setup.AccountSetupOptions"
            android:label="@string/account_setup_options_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.setup.AccountSetupNames"
            android:label="@string/account_setup_names_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.ChooseFolder"
            android:theme="@style/Theme.K9Dialog"
            android:label="@string/choose_folder_title"
            android:configChanges="locale"
            android:noHistory="true"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.ChooseIdentity"
            android:theme="@style/Theme.K9Dialog"
            android:label="@string/choose_identity_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.ManageIdentities"
            android:label="@string/manage_identities_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.EditIdentity"
            android:label="@string/edit_identity_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.NotificationDeleteConfirmation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            >
        </activity>
        <!-- XXX Note: this activity is hacked to ignore config changes,
             since it doesn't currently handle them correctly in code. -->
        <activity
            android:name="com.fsck.k9.activity.setup.AccountSetupCheckSettings"
            android:label="@string/account_setup_check_settings_title"
            android:configChanges="keyboardHidden|orientation|locale"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.setup.AccountSettings"
            android:label="@string/account_settings_title_fmt"
            android:configChanges="locale"
            >
        </activity>

        <activity
            android:name="com.fsck.k9.activity.setup.FolderSettings"
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/folder_settings_title"
            android:configChanges="locale"
            >
        </activity>
        <activity
            android:name="com.fsck.k9.activity.FolderList"
            android:configChanges="locale"
            android:uiOptions="splitActionBarWhenNarrow"
            >
            <intent-filter>
                <!-- This action is only to allow an entry point for launcher shortcuts -->
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fsck.k9.activity.MessageList"
            android:configChanges="locale"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow"
            >
            <intent-filter>
                <!-- This action is only to allow an entry point for launcher shortcuts -->
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:scheme="email"
                    android:host="messages"
                />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fsck.k9.activity.MessageCompose"
            android:label="@string/app_name"
            android:enabled="false"
            android:configChanges="locale"
            >
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <!-- Search Activity - searchable -->
        <activity android:name="com.fsck.k9.activity.Search"
                  android:label="@string/search_action"
                  android:configChanges="locale"
                  android:uiOptions="splitActionBarWhenNarrow"
                  >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.fsck.k9.activity.LauncherShortcuts"
            android:label="@string/shortcuts_title"
            android:configChanges="locale"
            >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fsck.k9.activity.AccessibleEmailContentActivity"
            >
        </activity>
        <activity android:name="com.fsck.k9.activity.EmailAddressList"
            android:configChanges="locale"
            >
        </activity>
        <receiver android:name="com.fsck.k9.service.BootReceiver"
              android:enabled="true"
              >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.sync.SYNC_CONN_STATUS_CHANGED" />
            </intent-filter>
              <intent-filter>
                <action android:name="com.fsck.k9.service.BroadcastReceiver.scheduleIntent"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.fsck.k9.service.RemoteControlReceiver"
               android:enabled="true"
               android:permission="org.thialfihar.android.apg.permission.REMOTE_CONTROL"
               >
               <intent-filter>
                 <action android:name="com.fsck.k9.K9RemoteControl.set"/>

             </intent-filter>
             <intent-filter>
                <action android:name="com.fsck.k9.K9RemoteControl.requestAccounts"/>

             </intent-filter>
         </receiver>
        <receiver android:name="com.fsck.k9.service.CoreReceiver"
              android:enabled="true"
              >
              <intent-filter>
                <action android:name="com.fsck.k9.service.CoreReceiver.wakeLockRelease"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.fsck.k9.service.StorageReceiver"
              android:enabled="true"
              >
            <intent-filter>
<!--
android.intent.action.MEDIA_MOUNTED

     * Broadcast Action:  External media is present and mounted at its mount point.
     * The path to the mount point for the removed media is contained in the Intent.mData field.
     * The Intent contains an extra with name "read-only" and Boolean value to indicate if the
     * media was mounted read only.

 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
<!--

MEDIA_EJECT and MEDIA_UNMOUNTED are not defined here: they have to be dynamically registered
otherwise it would make K-9 start at the wrong time

 -->
                <data android:scheme="file"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.fsck.k9.service.MailService"
            android:enabled="true"
            >
        </service>
        <service
            android:name="com.fsck.k9.service.NotificationActionService"
            android:enabled="true"
            >
        </service>
        <service
             android:name="com.fsck.k9.service.PushService"
             android:enabled="true"
             >
         </service>
         <service
             android:name="com.fsck.k9.service.PollService"
             android:enabled="true"
            >
         </service>
         <service
              android:name="com.fsck.k9.service.RemoteControlService"
              android:enabled="true"
              android:permission="org.thialfihar.android.apg.permission.REMOTE_CONTROL"
             >
          </service>
         <service
             android:name="com.fsck.k9.service.SleepService"
             android:enabled="true"
             >
         </service>
        <provider
            android:name="com.fsck.k9.provider.AttachmentProvider"
            android:authorities="org.thialfihar.android.apg.provider.attachment"
            android:multiprocess="true"
            android:grantUriPermissions="true"
            android:readPermission="org.thialfihar.android.apg.READ_ATTACHMENT"
            android:exported="true"
            />
        <provider
            android:name="com.fsck.k9.provider.MessageProvider"
            android:authorities="org.thialfihar.android.apg.provider.message"
            android:multiprocess="true"
            android:grantUriPermissions="true"
            android:readPermission="org.thialfihar.android.apg.READ_MESSAGES"
            android:writePermission="org.thialfihar.android.apg.DELETE_MESSAGES"
            android:exported="true"
            />
        <provider
            android:name="com.fsck.k9.provider.EmailProvider"
            android:authorities="org.thialfihar.android.apg.provider.email"
            android:exported="false"
            />

        <receiver
            android:name="com.fsck.k9.provider.UnreadWidgetProvider"
            android:label="@string/unread_widget_label"
            android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/unread_widget_info" />
        </receiver>
        <activity android:name="com.fsck.k9.activity.UnreadWidgetConfiguration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fsck.k9.activity.UpgradeDatabases"
            android:label="@string/upgrade_databases_title">
        </activity>
        <service
            android:name="com.fsck.k9.service.DatabaseUpgradeService"
            android:exported="false">
        </service>

    </application>
    <permission android:name="org.thialfihar.android.apg.permission.READ_KEY_DETAILS"
                android:protectionLevel="dangerous"
                android:label="@string/permission_read_key_details_label"
                android:description="@string/permission_read_key_details_description"/>

</manifest>
