[submodule "libs/bc"]
	path = libs/bc
	url = git://github.com/thialfihar/bc-java-for-apg
[submodule "libs/AndroidBootstrap"]
	path = libs/AndroidBootstrap
	url = git://github.com/Bearded-Hen/Android-Bootstrap
[submodule "libs/HtmlTextView"]
	path = libs/HtmlTextView
	url = git://github.com/thialfihar/html-textview
[submodule "libs/email"]
	path = libs/email
	url = https://github.com/thialfihar/android-email
	branch = master
[submodule "libs/ex"]
	path = libs/ex
	url = https://github.com/thialfihar/android-ex
	branch = master
[submodule "libs/photoviewer"]
	path = libs/photoviewer
	url = https://github.com/thialfihar/android-photoviewer
	branch = master
