[submodule "libs/bc"]
	path = libs/bc
	url = https://github.com/thialfihar/bc-java-for-apg.git
[submodule "libs/AndroidBootstrap"]
	path = libs/AndroidBootstrap
	url = https://github.com/Bearded-Hen/Android-Bootstrap.git
[submodule "libs/HtmlTextView"]
	path = libs/HtmlTextView
	url = https://github.com/thialfihar/html-textview.git
[submodule "libs/openpgp-api-lib"]
	path = libs/openpgp-api-lib
	url = https://github.com/open-keychain/openpgp-api-lib.git
[submodule "libs/openkeychain-api-lib"]
	path = libs/openkeychain-api-lib
	url = https://github.com/open-keychain/openkeychain-api-lib.git
